name: iOS starter workflow

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: Build and Test default scheme using any available iPhone simulator
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build GroupChannel/BasicGroupChannel
        run: |
          xcodebuild build -workspace GroupChannel.xcworkspace -scheme BasicGroupChannel -destination 'platform=iOS Simulator,name=iPhone 11 Pro,OS=latest'
      - name: Build OpenChannel/BasicOpenChannel
        run: |
          xcodebuild build -workspace OpenChannel.xcworkspace -scheme BasicOpenChannel -destination 'platform=iOS Simulator,name=iPhone 11 Pro,OS=latest'
