name: Tuist - Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
jobs:
  build:
    name: Build
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v1
      - uses: tuist/tuist-action@0.13.0 # This action has an issue with tuist 3.1.0, so you have to use version 3.0.1: https://github.com/tuist/tuist-action/issues/6
        with:
          command: 'build'
          arguments: ''
